/* Add CSS styling here */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font: inherit;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline;

  box-sizing: border-box;

  /* border: 1px solid crimson; */
}

body {
  padding: 0;
  margin: 0;
  background-color: #340034;
  background-image: radial-gradient(#ffffff 1px, transparent 1px);
  background-size: 100px 100px;
}
h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 4rem;
  color: blue;
  text-shadow: 0.2rem 0.2rem white, 0rem 0rem 1rem black;
  letter-spacing: 0.2rem;
}
.myName {
  background-color: lightgray;
  text-align: center;
  border-radius: 35%;
  border: 0.5rem double black;
}
.main {
  background-color: darkgrey;
  display: flex;
}

.main div {
  /* border: 1px solid crimson; */
  width: 50%;
  align-items: center;
  margin: 1%;
}

.headLinks {
  /* border: 1px solid crimson; */
  display: flex;
  justify-content: flex-end;
}

.links {
  /* border: 1px solid crimson; */
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1%;
  background-color: blue;
  padding: 2% 0;
  border-radius: 40px;
  width: 15%;
  border: 0.5rem double white;
}

.mainImg {
  background-image: url("https://i.pinimg.com/originals/f6/20/a1/f620a179ca1acfd15a0754701677fb58.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 80%;
  margin: 3% auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  border-radius: 50px;
}
.myName2 {
  font-size: 4rem;
  width: 45%;
  text-align: center;
  margin: 2%;
  border: 0.5rem double white;
  background-color: blue;
  border-radius: 10px;
  color: white;
  padding: 1%;
}

.myProj {
  margin: 1%;
  display: flex;
  justify-content: center;
}
.subLink {
  border: 0.5rem double white;
  background-color: blue;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 7%;
  border-radius: 10px;
}

.itemsMain {
  background-color: #340034;
  /* border: 1px solid crimson; */
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.boxBase {
  text-align: center;
  width: 30%;
  margin: 2% 0;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  background-image: url("https://picsum.photos/200/300");
  background-position: center;
  background-size: cover;
  height: 15rem;
  border: 0.5rem double white;
}
.item1-text,
.item2-text,
.item3-text,
.item4-text,
.item5-text,
.item6-text {
  background-color: blue;
  color: white;
  font-size: 3rem;
  border: 0.1rem solid white;
}

footer {
  margin: 0 auto;
  width: 80%;
  height: 15vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  width: 25%;
}
.contactLink {
  border: 0.5rem double white;
  background-color: blue;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 8%;
}

@media (max-width: 800px) {
  .main {
    flex-flow: row wrap;
    justify-content: center;
  }
  .main div {
    width: 90%;
  }
  .headLinks {
    flex-flow: row wrap;
    justify-content: center;
  }
  .links {
    width: 40%;
    padding: 0.5%;
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5,
  .item6 {
    height: 15rem;
  }
  .item1-text,
  .item2-text,
  .item3-text,
  .item4-text,
  .item5-text,
  .item6-text {
    font-size: 2rem;
  }
  .boxBase {
    width: 45%;
  }
  .myName2 {
    width: 65%;
    font-size: 2.5rem;
  }

  .contactLink {
    padding: 10%;
  }
}

@media (max-width: 500px) {
  .main {
    flex-flow: column nowrap;
    align-items: center;
  }
  .main div {
    width: 90%;
  }
  .headLinks {
    flex-flow: column nowrap;
  }
  .links {
    width: 45%;
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5,
  .item6 {
    height: 10rem;
  }
  .item1-text,
  .item2-text,
  .item3-text,
  .item4-text,
  .item5-text,
  .item6-text {
    font-size: 1.5rem;
  }
  .boxBase {
    width: 45%;
  }
  .myName2 {
    font-size: 2.5rem;
  }

  .contactLink {
    padding: 10%;
  }
}
